{{#if logged_in}}

{{else}}
<div><button><a href="/login">Login</a></button></div>
<div><button><a href="/signup">Sign Up</a></button></div>
{{/if}}

<div>
{{#each movies as |movie|}}
    <section class="container">
    <h3>{{movie.title}} (Average Rating: {{movie.avgRating}}/5)</h3>
    <img src={{movie.poster_image}}>
    <a href="/movies/{{movie.id}}">Leave a Review!</a>
  </section>
{{/each}}
</div>
