{{#each reviews as |review|}}
    <section class="container">
        <h2>{{review.title}}</h2>
        <p>{{review.description}}</p>
        <p>Rating: {{review.rating}}</p>
        {{!-- <h3>{{movie.title}}</h3>
        <img src={{movie.poster_image}}>
   </section> --}}
{{/each}}
